flair==0.7
notebook==6.1.6
openpyxl==3.0.5
pandas==1.1.5
pdfminer.six==20201018
prettytable==2.0.0
PyMuPDF==1.18.6
phonenumbers==8.12.17
sentencepiece==0.1.91
spacy==2.3.5
stanza==1.1.1
styleframe==3.0.6
torch==1.7.0
transformers==3.5.1
