############### SPACY ########
spacy
prettytable

############### FLAIR ########
torch==1.7.0
flair
stanza
sentencepiece==0.1.91 
transformers==3.5.1 

############ PDFMINER ########
pdfminer.six
pdfrw>=0.4
defusedxml
pandas

notebook
